/* Import Angelina font */
@font-face {
  font-family: Angelina;
  src: url(../fonts/angelina.TTF);
}

html {
  /* Colorimetry variables */
  --humanima-color: #a5285f;
  --gray-color: #9b9696;

  /* trick to make 1rem = 10px, which facilitate the usage of rem if you're used to px */
  font-size: 62.5%; 

  /* 
    Prevent the automatic font-size change on mobiles
    More info: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust 
  */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0em;
    
  font-family: Verdana, sans-serif;
}

/* Tablets */
@media only screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

/* Mobiles */ 
@media only screen and (max-width: 500px) {
  html {
      font-size: 37.5%;
  }
}